@import "reset.css";

body {
  background-color: #f2f0eb;
  width: 100vw;
  height: 100vh;
}

.modal-body .form-label {
  margin-top: 10px;
}

.main {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.mainleft {
  width: 70vw;
  height: 100%;
  text-align: center;
}

.mainright {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imgmain {
  width: 90%;
  height: 100%;
  object-fit: contain;
  padding-right: 50px;
}

.mainiconimg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.itemBox {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initembox1 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
  position: relative; /* 상대 위치 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#expand {
  position: absolute; /* 절대 위치 설정 */
  bottom: 0; /* 부모 요소의 하단으로부터 0px 지점에 위치 */
  color: white; /* 텍스트 색상 */
  background-color: rgb(150, 150, 177); /* 남색 배경 */
  padding: 10px 40px; /* 상하 10px, 좌우 20px 내부 여백 */
  border-radius: 20px; /* 모서리 둥글기 */
  display: none; /* 기본적으로 숨김 처리, 필요에 따라 display: block 또는 flex로 변경 */
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  transition: background-color 0.3s; /* 배경색 변화에 애니메이션 적용 */
}

#expand.clicked {
  background-color: rgb(130, 130, 157); /* 클릭 시 어두운 색상 */
}

#timeBox {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 부모 요소의 상단으로부터 50% 지점에 위치 */
  left: 50%; /* 부모 요소의 왼쪽으로부터 50% 지점에 위치 */
  transform: translate(-50%, -50%); /* 요소를 가운데로 이동 */
  color: #fff; /* 시간 텍스트 색상 */
  background-color: rgb(0, 0, 0); /* 시간 텍스트 배경색 */
  padding: 10px; /* 내부 여백 */
  font-size: 18px; /* 폰트 크기 */
  width: 100%;
  height: 120px;
}

#US {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.ItemName {
  margin-left: 10px;
  font-size: 25px;
}

.itembox2 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lockers {
  background-color: #a1c7e0;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
}

.unlocker {
  background-color: #3d5a73;
  border-color: #2f3d40;
  width: 25%;
  height: 120px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.locker {
  background-color: #0099dd;
  border-color: #0099dd;
  width: 25%;
  height: 120px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

#number {
  color: white;
  text-align: left;
  position: relative;
  bottom: 40px;
  font-size: 30px;
  right: 10px;
}

.locker.disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 5px;
}

#expandName {
  margin-top: 20px;
}

.modal-content h2,
.modal-content input,
.modal-content button {
  margin-bottom: 10px; /* 입력 요소들과 버튼 사이의 간격 조절 */
}
.modal-content h2,
.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="number"],
.modal-content button {
  width: 100%; /* 입력 요소들과 버튼의 너비를 모달 내부에 맞게 설정 */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#confirmTime {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

#closeButton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
