

@import "reset.css";

 
body {
	background-color: #F2F0EB;
	width: 100vw;
	height: 100vh;
}

.main {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.mainleft {
	width: 70vw;
	height: 100%;
	text-align: center;
}

.mainright {
	width: 30vw;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.imgmain {
	width: 90%;
	height: 100%;
	object-fit:contain;
}

.mainiconimg {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}


.itembox1 {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.initembox1 {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 200px;
	border-radius: 20px;
	box-shadow: 1px 1px gray;
	margin-left: 10px;
	margin-right: 10px;
}

#US {
	text-align: center;
	color: white;
	margin-top: 90px;
}

.ItemName {
	margin-left: 10px;
	font-size: 25px;
}

.itembox2 {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.initembox2 {
	background-color: #A1C7E0;
	width: 100%;
	height: 450px;
	border-radius: 20px;
	box-shadow: 1px 1px gray;
	margin-left: 10px;
	margin-right: 10px;
}

.box-impos {
	background-color: #3D5A73;
	border-color: #2F3D40;
	width: 25%;
	height: 120px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	margin-left: 15px;
	margin-top: 20px;
}

.box-pos {
	background-color: #0099DD;
	border-color: #0099DD;
	width: 25%;
	height: 120px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	margin-left: 15px;
	margin-top: 20px;
}

 #number {
	color: white;
	text-align: left;
	position: relative;
	bottom: 40px;
	font-size: 30px;
	right: 10px;
 }