@import "reset.css";

body {
  background-color: #f2f0eb;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.mainleft {
  width: 70vw;
  height: 100%;
  text-align: center;
}

.mainright {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imgmain {
  width: 90%;
  height: 100%;
  object-fit: contain;
  padding-right: 100px;
}

.mainiconimg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

h3 {
  padding: 30px 0 0 20px;
  font-weight: bold;
}

.itembox1 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initembox1 {
  background-color: #76abae;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
}

.ItemName {
  margin-left: 10px;
  font-size: 25px;
}

.itembox1 .initembox1 .pro {
  margin: 30px 10px 10px 10px;
}

#userId {
  margin-top: 20px;
}

#changeNameButton,
#changePasswordButton {
  margin: 25px auto;
}

.outitembox2 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itembox2 {
  background-color: #76abae;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.initembox2 {
  width: 40%;
  height: 200px;
  background-color: #76abae;
  border-radius: 20px;
  margin-left: 10px;
}

.text {
  margin-right: 80px;
  font-size: 20px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.logout {
  background-color: #000;
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 20px;
  margin-top: 30px;
}
