@import "reset.css";

body {
  background-color: #f2f0eb;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.mainleft {
  width: 70vw;
  height: 80%;
  text-align: center;
}

.mainright {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imgmain {
  width: 90%;
  height: 100%;
  object-fit: contain;
  padding-top: 10px;
  padding-right: 60px;
}

.mainiconimg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

h3 {
  padding: 30px 0 0 20px;
  font-weight: bold;
}

.itembox1 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initembox1 {
  background-color: #76abae;
  width: 100%;
  height: 170px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
}

.ItemName {
  margin-left: 10px;
  font-size: 25px;
}

.itembox1 .initembox1 .pro {
  margin: 30px 10px 10px 10px;
}

#userId {
  margin-top: 20px;
}

#changeNameButton,
#changePasswordButton {
  margin: 25px auto;
  outline: none;
}

.custom-btn {
  width: 140px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 10px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* 15 */
.btn-15 {
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.btn-15:hover {
  color: #000;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

/* 16 */
.btn-16 {
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

.outitembox2 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itembox2 {
  background-color: #76abae;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 1px 1px gray;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.initembox2 {
  width: 40%;
  height: 200px;
  background-color: #76abae;
  border-radius: 20px;
  margin-left: 10px;
}

.text {
  margin-right: 80px;
  font-size: 20px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.logout {
  background-color: #000;
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  background-color: #fefefe;
  margin: 50% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
