@import "reset.css";

body {
  width: 100vw;
  height: 100vh;
}
 
.header {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 200px;
}

.img {
  width: 80%;
  height: 100%;
  object-fit:contain;

}

.reg-form {
  width: 80%;
  padding: 40px;
}

.reg-form .form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.reg-form .form-group input[type="text"],
.reg-form .form-group input[type="email"],
.reg-form .form-group input[type="password"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reg-form button[type="button"] {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  